In [21]:
from astropy.table import Table, MaskedColumn
from astropy.time import Time
import astropy.io.ascii
import numpy as np

In [48]:
%run -b -i "../python/calculator.py"

In [11]:
traw = Table.read('../data/asset1_transactions.csv', format='ascii.csv', converters={
                  'quantity': [astropy.io.ascii.convert_numpy(np.float64)],
                  'unit price': [astropy.io.ascii.convert_numpy(np.float64)],
                  'total price': [astropy.io.ascii.convert_numpy(np.float64)]})

In [12]:
vraw = Table.read('../data/asset1_values.csv', format='ascii.csv', converters={
                  'price': [astropy.io.ascii.convert_numpy(np.float64)],})
vraw['date'] = Time(vraw['date'])

In [13]:
prepareRawTransactions(traw)

<Table length=3>
         dateS          asset type quantity unit price total price dateE
         object          str2 str4 float64   float64     float64   object
----------------------- ----- ---- -------- ---------- ----------- ------
2019-01-01 00:00:00.000    A1  buy      5.0        2.0        10.0     --
2020-01-01 00:00:00.000    A1  buy     10.0        3.0        30.0     --
2021-01-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --

In [14]:
packets = packetizeTransactions(traw, 'A1_')

In [15]:
packets

<Table length=3>
         dateS          asset quantity  priceS          dateE           priceE packetId
         object          str2 float64  float64          object         float64 bytes20
----------------------- ----- -------- ------- ----------------------- ------- --------
2019-01-01 00:00:00.000    A1      1.0     2.0 2021-01-01 00:00:00.000     5.0   A1_001
2019-01-01 00:00:00.000    A1      4.0     2.0                      --      --   A1_003
2020-01-01 00:00:00.000    A1     10.0     3.0                      --      --   A1_002

In [20]:
packets.dtype

dtype([('dateS', 'O'), ('asset', '<U2'), ('quantity', '<f8'), ('priceS', '<f8'), ('dateE', 'O'), ('priceE', '<f8'), ('pId', '<i8')])


------

### Small sales for 1 buy transaction

In [52]:
traw = Table.read('../data/test1_smallsales.csv', format='ascii.csv', converters={
                  'quantity': [astropy.io.ascii.convert_numpy(np.float64)],
                  'unit price': [astropy.io.ascii.convert_numpy(np.float64)],
                  'total price': [astropy.io.ascii.convert_numpy(np.float64)]})

In [53]:
vraw = Table.read('../data/asset1_values.csv', format='ascii.csv', converters={
                  'price': [astropy.io.ascii.convert_numpy(np.float64)],})
vraw['date'] = Time(vraw['date'])
prepareRawTransactions(traw)

<Table length=12>
         dateS          asset type quantity unit price total price dateE
         object          str2 str4 float64   float64     float64   object
----------------------- ----- ---- -------- ---------- ----------- ------
2019-01-01 00:00:00.000    A1  buy      5.0        2.0        10.0     --
2020-01-01 00:00:00.000    A1  buy     10.0        3.0        30.0     --
2021-01-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-02-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-03-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-04-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-05-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-06-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-07-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-08-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-09-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --
2021-10-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --

In [75]:
packets = packetizeTransactions(traw, 'A1_')

======
Sale 2021-01-01:1.0@5.0 ->
Buys
2019-01-01:5.0@2.0
2020-01-01:10.0@3.0
Using buy 0
Remaining from buy : 4.0
======
Sale 2021-02-01:1.0@5.0 ->
Buys
2019-01-01:4.0@2.0
2020-01-01:10.0@3.0
Using buy 0
Remaining from buy : 3.0
======
Sale 2021-03-01:1.0@5.0 ->
Buys
2019-01-01:3.0@2.0
2020-01-01:10.0@3.0
Using buy 0
Remaining from buy : 2.0
======
Sale 2021-04-01:1.0@5.0 ->
Buys
2019-01-01:2.0@2.0
2020-01-01:10.0@3.0
Using buy 0
Remaining from buy : 1.0
======
Sale 2021-05-01:1.0@5.0 ->
Buys
2019-01-01:1.0@2.0
2020-01-01:10.0@3.0
Using buy 0
======
Sale 2021-06-01:1.0@5.0 ->
Buys
2020-01-01:10.0@3.0
Using buy 0
Remaining from buy : 9.0
======
Sale 2021-07-01:1.0@5.0 ->
Buys
2020-01-01:9.0@3.0
Using buy 0
Remaining from buy : 8.0
======
Sale 2021-08-01:1.0@5.0 ->
Buys
2020-01-01:8.0@3.0
Using buy 0
Remaining from buy : 7.0
======
Sale 2021-09-01:1.0@5.0 ->
Buys
2020-01-01:7.0@3.0
Using buy 0
Remaining from buy : 6.0
======
Sale 2021-10-01:1.0@5.0 ->
Buys
2020-01-01:6.0@3.0
Using buy 0
Remaining from buy : 5.0

In [76]:
packets

<Table length=11>
         dateS          asset quantity  priceS          dateE           priceE packetId
         object          str2 float64  float64          object         float64 bytes20
----------------------- ----- -------- ------- ----------------------- ------- --------
2019-01-01 00:00:00.000    A1      1.0     2.0 2021-01-01 00:00:00.000     5.0   A1_001
2019-01-01 00:00:00.000    A1      1.0     2.0 2021-02-01 00:00:00.000     5.0   A1_003
2019-01-01 00:00:00.000    A1      1.0     2.0 2021-03-01 00:00:00.000     5.0   A1_004
2019-01-01 00:00:00.000    A1      1.0     2.0 2021-04-01 00:00:00.000     5.0   A1_005
2019-01-01 00:00:00.000    A1      1.0     2.0 2021-05-01 00:00:00.000     5.0   A1_006
2020-01-01 00:00:00.000    A1      1.0     3.0 2021-06-01 00:00:00.000     5.0   A1_002
2020-01-01 00:00:00.000    A1      1.0     3.0 2021-07-01 00:00:00.000     5.0   A1_007
2020-01-01 00:00:00.000    A1      1.0     3.0 2021-08-01 00:00:00.000     5.0   A1_008
2020-01-01 00:00:00.000    A1      1.0     3.0 2021-09-01 00:00:00.000     5.0   A1_009
2020-01-01 00:00:00.000    A1      1.0     3.0 2021-10-01 00:00:00.000     5.0   A1_010
2020-01-01 00:00:00.000    A1      5.0     3.0                      --      --   A1_011

In [79]:
x = packets['dateE'].filled(fill_value=Time("2050-01-01"))

In [84]:
x = Time(x)

In [86]:
x

<Time object: scale='utc' format='iso' value=['2021-01-01 00:00:00.000' '2021-02-01 00:00:00.000'
 '2021-03-01 00:00:00.000' '2021-04-01 00:00:00.000'
 '2021-05-01 00:00:00.000' '2021-06-01 00:00:00.000'
 '2021-07-01 00:00:00.000' '2021-08-01 00:00:00.000'
 '2021-09-01 00:00:00.000' '2021-10-01 00:00:00.000'
 '2050-01-01 00:00:00.000']>

In [72]:
packets['dateE'] = Time(packets['dateE'].filled(fill_value=Time("2050-01-01")))

In [74]:
packets

<Table length=11>
  dateS    asset quantity  priceS   dateE     priceE packetId
  object    str2 float64  float64   object   float64 bytes20
---------- ----- -------- ------- ---------- ------- --------
2019-01-01    A1      1.0     2.0 2021-01-01     5.0   A1_001
2019-01-01    A1      1.0     2.0 2021-02-01     5.0   A1_003
2019-01-01    A1      1.0     2.0 2021-03-01     5.0   A1_004
2019-01-01    A1      1.0     2.0 2021-04-01     5.0   A1_005
2019-01-01    A1      1.0     2.0 2021-05-01     5.0   A1_006
2020-01-01    A1      1.0     3.0 2021-06-01     5.0   A1_002
2020-01-01    A1      1.0     3.0 2021-07-01     5.0   A1_007
2020-01-01    A1      1.0     3.0 2021-08-01     5.0   A1_008
2020-01-01    A1      1.0     3.0 2021-09-01     5.0   A1_009
2020-01-01    A1      1.0     3.0 2021-10-01     5.0   A1_010
2020-01-01    A1      5.0     3.0 2050-01-01      --   A1_011


------

### Small buyes for 1 sale transaction

In [49]:
traw = Table.read('../data/test2_smallbuys.csv', format='ascii.csv', converters={
                  'quantity': [astropy.io.ascii.convert_numpy(np.float64)],
                  'unit price': [astropy.io.ascii.convert_numpy(np.float64)],
                  'total price': [astropy.io.ascii.convert_numpy(np.float64)]})

In [50]:
vraw = Table.read('../data/asset1_values.csv', format='ascii.csv', converters={
                  'price': [astropy.io.ascii.convert_numpy(np.float64)],})
vraw['date'] = Time(vraw['date'])
prepareRawTransactions(traw)

<Table length=8>
         dateS          asset type quantity unit price total price dateE
         object          str2 str4 float64   float64     float64   object
----------------------- ----- ---- -------- ---------- ----------- ------
2019-01-01 00:00:00.000    A1  buy      1.0        2.0        10.0     --
2019-02-01 00:00:00.000    A1  buy      1.0        2.0        10.0     --
2019-03-01 00:00:00.000    A1  buy      1.0        2.0        10.0     --
2019-04-01 00:00:00.000    A1  buy      1.0        2.0        10.0     --
2019-05-01 00:00:00.000    A1  buy      1.0        2.0        10.0     --
2020-01-01 00:00:00.000    A1  buy     10.0        3.0        30.0     --
2021-01-01 00:00:00.000    A1 sell      5.0        5.0         5.0     --
2021-02-01 00:00:00.000    A1 sell     11.0        5.0         5.0     --

In [51]:
packets = packetizeTransactions(traw, 'A1_')

======
Sale 2021-01-01:5.0@5.0 ->
Buys
2019-01-01:1.0@2.0
2019-02-01:1.0@2.0
2019-03-01:1.0@2.0
2019-04-01:1.0@2.0
2019-05-01:1.0@2.0
2020-01-01:10.0@3.0
Using buy 0
Still to sale 4.0
Using buy 1
Still to sale 3.0
Using buy 2
Still to sale 2.0
Using buy 3
Still to sale 1.0
Using buy 4
======
Sale 2021-02-01:11.0@5.0 ->
Buys
2020-01-01:10.0@3.0
Using buy 0
Still to sale 1.0
Using buy 1

ValueError: Data error - No more buy transaction to match sale.

In [30]:
packets

<Table length=6>
         dateS          asset quantity  priceS          dateE           priceE packetId
         object          str2 float64  float64          object         float64 bytes20
----------------------- ----- -------- ------- ----------------------- ------- --------
2019-01-01 00:00:00.000    A1      1.0     2.0 2021-01-01 00:00:00.000     5.0   A1_001
2019-02-01 00:00:00.000    A1      1.0     2.0 2021-01-01 00:00:00.000     5.0   A1_002
2019-03-01 00:00:00.000    A1      1.0     2.0 2021-01-01 00:00:00.000     5.0   A1_003
2019-04-01 00:00:00.000    A1      1.0     2.0 2021-01-01 00:00:00.000     5.0   A1_004
2019-05-01 00:00:00.000    A1      1.0     2.0 2021-01-01 00:00:00.000     5.0   A1_005
2020-01-01 00:00:00.000    A1     10.0     3.0 2021-02-01 00:00:00.000     5.0   A1_006

In [90]:
?packets.copy

In [91]:
packets.unique

AttributeError: 'Table' object has no attribute 'unique'