In [9]:
from astropy.table import Table, MaskedColumn
from astropy.time import Time
import astropy.io.ascii
import numpy as np

In [10]:
%run -b -i "../python/calculator.py"

In [11]:
traw = Table.read('../data/asset1_transactions.csv', format='ascii.csv', converters={
                  'quantity': [astropy.io.ascii.convert_numpy(np.float64)],
                  'unit price': [astropy.io.ascii.convert_numpy(np.float64)],
                  'total price': [astropy.io.ascii.convert_numpy(np.float64)]})

In [12]:
vraw = Table.read('../data/asset1_values.csv', format='ascii.csv', converters={
                  'price': [astropy.io.ascii.convert_numpy(np.float64)],})
vraw['date'] = Time(vraw['date'])

In [13]:
prepareRawTransactions(traw)

<Table length=3>
         dateS          asset type quantity unit price total price dateE
         object          str2 str4 float64   float64     float64   object
----------------------- ----- ---- -------- ---------- ----------- ------
2019-01-01 00:00:00.000    A1  buy      5.0        2.0        10.0     --
2020-01-01 00:00:00.000    A1  buy     10.0        3.0        30.0     --
2021-01-01 00:00:00.000    A1 sell      1.0        5.0         5.0     --

In [15]:
packets = packetizeTransactions(traw)

In [19]:
packets

<Table length=3>
         dateS          asset quantity  priceS          dateE           priceE  pId
         object          str2 float64  float64          object         float64 int64
----------------------- ----- -------- ------- ----------------------- ------- -----
2019-01-01 00:00:00.000    A1      1.0     2.0 2021-01-01 00:00:00.000     5.0     1
2019-01-01 00:00:00.000    A1      4.0     2.0                      --      --     3
2020-01-01 00:00:00.000    A1     10.0     3.0                      --      --     2

In [20]:
packets.dtype

dtype([('dateS', 'O'), ('asset', '<U2'), ('quantity', '<f8'), ('priceS', '<f8'), ('dateE', 'O'), ('priceE', '<f8'), ('pId', '<i8')])